{% load static %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

   <!-- Sidebar Toggle (Topbar) -->
   <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
         <i class="fa fa-bars"></i>
   </button>

   <span class="h3 ml-2 mt-3 text-gray-800"><h4>
   {{ pagetitle }}</h4>
   </span>
   <!-- Topbar Navbar -->

   <!--<ul class="navbar-nav ml-auto">
        <i class="fas fa-video fa-fw mb-0 "> 5</i>
   </ul>-->


</nav>
<!-- End of Topbar -->